*{margin:0; padding: 0;}
body{font-family: 'Arial'; }
.none{display: none !important}
.site{width:800px; margin: auto; border: 1px solid #000; min-height: 600px}

nav{width:100%; text-align: center; border-bottom: 1px solid #000; height: 75px; display: table; }
nav .active{background-color: #000; color: #fff;}
nav *{border-right: 1px solid #000; padding: 0px 15px; vertical-align: middle; display: table-cell; font-size: 1.3em;}
nav span:last-child{border: none}

.content{padding: 25px;}
.content .search{width: 90%; margin: auto;}
.content .search_form{padding-bottom: 20px; display: inline-block; padding-right: 10px}
.content .search a{border-right: 1px solid #000; padding: 10px}
.content .search a:last-child{border-right: none;}
.content .search a:last-child{border-right: none;}
.content .search input{display: inline; width: 150px}
.warning{color: orange}

.form-signin{width: 50%; margin: auto}
.form-signin *{margin: 10px}